In [26]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('movie_metadata.csv')

In [3]:
data.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [4]:
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [5]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

# 缺失值处理

## 非缺失值和异常值的单元格

In [67]:
data_ = data.copy()

In [6]:
data.shape

(5043, 28)

In [7]:
data.count()

color                        5024
director_name                4939
num_critic_for_reviews       4993
duration                     5028
director_facebook_likes      4939
actor_3_facebook_likes       5020
actor_2_name                 5030
actor_1_facebook_likes       5036
gross                        4159
genres                       5043
actor_1_name                 5036
movie_title                  5043
num_voted_users              5043
cast_total_facebook_likes    5043
actor_3_name                 5020
facenumber_in_poster         5030
plot_keywords                4890
movie_imdb_link              5043
num_user_for_reviews         5022
language                     5031
country                      5038
content_rating               4740
budget                       4551
title_year                   4935
actor_2_facebook_likes       5030
imdb_score                   5043
aspect_ratio                 4714
movie_facebook_likes         5043
dtype: int64

In [10]:
data_.isnull().any()

color                         True
director_name                 True
num_critic_for_reviews        True
duration                      True
director_facebook_likes       True
actor_3_facebook_likes        True
actor_2_name                  True
actor_1_facebook_likes        True
gross                         True
genres                       False
actor_1_name                  True
movie_title                  False
num_voted_users              False
cast_total_facebook_likes    False
actor_3_name                  True
facenumber_in_poster          True
plot_keywords                 True
movie_imdb_link              False
num_user_for_reviews          True
language                      True
country                       True
content_rating                True
budget                        True
title_year                    True
actor_2_facebook_likes        True
imdb_score                   False
aspect_ratio                  True
movie_facebook_likes         False
dtype: bool

In [12]:
data_.isnull().replace({True:1,False:0}).sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [68]:
data_ = data_.drop(np.where(np.isnan(data_.duration))[0], axis=0)  # 电影时长缺失的删去

In [69]:
data_.shape

(5028, 28)

In [70]:
data_ =  data_.reindex(range(data_.shape[0]))  # 重新索引

In [74]:
data_ = data_.drop(np.where(np.isnan(data_.title_year))[0], axis=0)  # 电影年份缺失的删去
data_.shape

(4909, 28)

In [76]:
data_.isnull().replace({True:1,False:0}).sum()

color                         15
director_name                  0
num_critic_for_reviews        36
duration                       0
director_facebook_likes        0
actor_3_facebook_likes        17
actor_2_name                  10
actor_1_facebook_likes         7
gross                        762
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  17
facenumber_in_poster          12
plot_keywords                131
movie_imdb_link                0
num_user_for_reviews          13
language                       9
country                        1
content_rating               244
budget                       381
title_year                     0
actor_2_facebook_likes        10
imdb_score                     0
aspect_ratio                 289
movie_facebook_likes           0
dtype: int64

In [77]:
data_[['director_name',
      'actor_2_name',
      'actor_1_name',
      'actor_3_name',
      'plot_keywords',
      'language',
      'country',
      'content_rating',
      ]] = data_[['director_name',
      'actor_2_name',
      'actor_1_name',
      'actor_3_name',
      'plot_keywords',
      'language',
      'country',
      'content_rating',
      ]].fillna('Other')   # 填充Other

In [78]:
data_[['num_critic_for_reviews',
      'director_facebook_likes',
      'actor_3_facebook_likes',
      'actor_1_facebook_likes',
      'gross',
      'facenumber_in_poster',
      'num_user_for_reviews',
      'actor_2_facebook_likes',
      'aspect_ratio']] = data_[['num_critic_for_reviews',
      'director_facebook_likes',
      'actor_3_facebook_likes',
      'actor_1_facebook_likes',
      'gross',
      'facenumber_in_poster',
      'num_user_for_reviews',
      'actor_2_facebook_likes',
      'aspect_ratio']].fillna(0)  # 填充0

In [79]:
data_.budget = data_.budget.mean()

In [80]:
data_ = data_.drop(['aspect_ratio','color'], axis=1)

In [83]:
data_.isnull().any()

director_name                False
num_critic_for_reviews       False
duration                     False
director_facebook_likes      False
actor_3_facebook_likes       False
actor_2_name                 False
actor_1_facebook_likes       False
gross                        False
genres                       False
actor_1_name                 False
movie_title                  False
num_voted_users              False
cast_total_facebook_likes    False
actor_3_name                 False
facenumber_in_poster         False
plot_keywords                False
movie_imdb_link              False
num_user_for_reviews         False
language                     False
country                      False
content_rating               False
budget                       False
title_year                   False
actor_2_facebook_likes       False
imdb_score                   False
movie_facebook_likes         False
dtype: bool

In [84]:
data_.to_csv('未缺失数据.csv')

## 导演名字的频率

In [85]:
data_.director_name.value_counts()

Steven Spielberg        26
Woody Allen             22
Clint Eastwood          20
Martin Scorsese         20
Ridley Scott            17
Tim Burton              16
Spike Lee               16
Steven Soderbergh       16
Renny Harlin            15
Oliver Stone            14
Sam Raimi               13
Barry Levinson          13
Ron Howard              13
Joel Schumacher         13
Robert Zemeckis         13
John Carpenter          13
Michael Bay             13
Tony Scott              12
Wes Craven              12
Brian De Palma          12
Shawn Levy              12
Kevin Smith             12
Robert Rodriguez        12
Richard Donner          12
Peter Jackson           12
Richard Linklater       11
Francis Ford Coppola    11
Rob Cohen               11
Chris Columbus          11
Stephen Frears          11
                        ..
Wil Shriner              1
Allen Hughes             1
Frédéric Forestier       1
Jim Field Smith          1
Je-kyu Kang              1
Blair Hayes              1
Deb Hagan                1
James Bidgood            1
Floyd Mutrux             1
Eric Leighton            1
John Sturges             1
John Maclean             1
Fred Walton              1
Patrick Gilmore          1
Salvador Carrasco        1
Jonathan Jakubowicz      1
Jamel Debbouze           1
Adam Goldberg            1
Doug Atchison            1
Peter Ho-Sun Chan        1
Fernando Baez Mella      1
Richard Ayoade           1
Paul Tibbitt             1
Stephen Hillenburg       1
Fred Schepisi            1
Tim Fywell               1
Jonathan English         1
Aaron Hann               1
Tom McGrath              1
Mort Nathan              1
Name: director_name, Length: 2375, dtype: int64

## 分组查看导演的名字的facebook_likes

In [86]:
director_facebook_group = data_.director_facebook_likes.groupby(data_.director_name)

In [89]:
director_facebook_group.mean().sort_values(ascending=False)

director_name
Joseph Gordon-Levitt       23000.0
Christopher Nolan          22000.0
David Fincher              21000.0
Derick Martini             20000.0
Denzel Washington          18000.0
Kevin Spacey               18000.0
Martin Scorsese            17000.0
Clint Eastwood             16000.0
Quentin Tarantino          16000.0
Tom Hanks                  15000.0
Steven Spielberg           14000.0
J.J. Abrams                14000.0
Sylvester Stallone         13000.0
Alfred Hitchcock           13000.0
Tim Burton                 13000.0
Tony Scott                 12000.0
Leonard Nimoy              12000.0
Steve Buscemi              12000.0
Woody Allen                11000.0
Angelina Jolie Pitt        11000.0
Harold Ramis               11000.0
Hayao Miyazaki              6000.0
Jon Favreau                 4000.0
Seth MacFarlane             3000.0
Robert Duvall               3000.0
Lars von Trier              3000.0
Ron Howard                  2000.0
Roman Polanski              2000.0
Michael Jai White           2000.0
Shane Black                 1000.0
                            ...
John Waters                    0.0
Jon Shear                      0.0
Patrick Ryan Sims              0.0
Emma-Kate Croghan              0.0
Paul Bolger                    0.0
Enrique Begne                  0.0
Cary Bell                      0.0
Caryn Waechter                 0.0
Cassandra Nicolaou             0.0
Catherine Gund                 0.0
John Francis Daley             0.0
Catherine Jelski               0.0
Catherine Owens                0.0
Cathy Malkasian                0.0
Peter Care                     0.0
Peter Billingsley              0.0
Chad Kapper                    0.0
Chan-wook Park                 0.0
Charles Adelman                0.0
Charles Chaplin                0.0
Pete Docter                    0.0
Charles Herman-Wurmfeld        0.0
Pedro Almodóvar                0.0
Pece Dingo                     0.0
Eric Bugbee                    0.0
Paul Thomas Anderson           0.0
John Laing                     0.0
Charlie Kaufman                0.0
Charlie Levi                   0.0
A. Raven Cruz                  0.0
Name: director_facebook_likes, Length: 2375, dtype: float64

## 主演1名字的频率

In [90]:
data_.actor_1_name.value_counts()

Robert De Niro                 49
Johnny Depp                    41
Nicolas Cage                   33
J.K. Simmons                   31
Matt Damon                     30
Denzel Washington              30
Bruce Willis                   30
Liam Neeson                    29
Steve Buscemi                  27
Robin Williams                 27
Harrison Ford                  27
Bill Murray                    26
Robert Downey Jr.              26
Jason Statham                  26
Tom Cruise                     25
Morgan Freeman                 25
Tom Hanks                      24
Keanu Reeves                   24
Christian Bale                 23
Gerard Butler                  22
Kevin Spacey                   22
Scarlett Johansson             22
Hugh Jackman                   21
Anthony Hopkins                21
Sylvester Stallone             21
Leonardo DiCaprio              21
Will Ferrell                   20
Philip Seymour Hoffman         20
Matthew McConaughey            20
Dwayne Johnson                 19
                               ..
Taliesin Jaffe                  1
Fred Willard                    1
Birgitte Hjort Sørensen         1
Greg Germann                    1
John Karyus                     1
Mackenzie Davis                 1
Sarah Butler                    1
Norbert Ferrer                  1
Danielle Kotch                  1
Liza Minnelli                   1
Mary Elizabeth Mastrantonio     1
Trey Parker                     1
Stana Roumillac                 1
Spring Byington                 1
Elden Henson                    1
Charles S. Dutton               1
Bruce Payne                     1
James Drury                     1
Kirk Cameron                    1
Byron Mann                      1
Asin                            1
Tommy Pallotta                  1
Kristen Seavey                  1
Benoît Magimel                  1
Noah Bean                       1
Billy West                      1
Katherine McNamara              1
Jessica Tandy                   1
French Stewart                  1
Michael Derek                   1
Name: actor_1_name, Length: 2029, dtype: int64

## 主演2名字的频率

In [91]:
data_.actor_2_name.value_counts()

Morgan Freeman             20
Charlize Theron            15
Brad Pitt                  14
James Franco               11
Meryl Streep               11
Jason Flemyng              10
Adam Sandler               10
Other                      10
Scott Glenn                 9
Angelina Jolie Pitt         9
Judy Greer                  9
Thomas Kretschmann          9
Robert Duvall               9
Will Ferrell                9
Steve Buscemi               9
Bruce Willis                9
Stephen Root                8
Tom Wilkinson               8
Olivia Wilde                8
Rosario Dawson              8
Kirsten Dunst               8
Jay Hernandez               8
Jada Pinkett Smith          8
Udo Kier                    8
Loretta Devine              8
Lin Shaye                   8
Zooey Deschanel             8
Michael Rapaport            8
Kate Winslet                8
Eddie Marsan                7
                           ..
Bobb'e J. Thompson          1
Vera Miles                  1
Eve                         1
Lauren C. Mayhew            1
Lisa Arnold                 1
Meredith Scott Lynn         1
Seth Gabel                  1
Eric Stuart                 1
Ashley Martin               1
Drea de Matteo              1
Andy Lau                    1
Ian Gomez                   1
Paul Scheer                 1
Peter Dinklage              1
Maile Flanagan              1
Mia Wasikowska              1
Birgitte Hjort Sørensen     1
Jason George                1
Sakina Jaffrey              1
Bo Huang                    1
Mare Winningham             1
Jerry Stiller               1
Jesse Jane                  1
Jason Ritter                1
Robinne Lee                 1
Hans Weingartner            1
Owain Yeoman                1
Louis Lombardi              1
Dean Stockwell              1
Christopher Webster         1
Name: actor_2_name, Length: 2943, dtype: int64